<header class="d-flex flex-wrap align-item-center  justify-conter justify-content-md-between py-3 mb-4 border-bottem "
    rel="stylesheet">
    <a href=" /" class="d-flex align-item-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img class="img" src="/img/foodworld logoo (3).jpg" width="150">
    </a>
    <ul class=" nav col-12 col-md-auto mb-2 justfy-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">Home</li>
        </a></li>
        <li><a href="/about" class="nav-link px-2 link-secondary">About</li></a></li>
        <li><a href="/submit-recipe" class="nav-link px-2 link-secondary">Submit</li></a></li>
        <li><a href="/contact" class="nav-link px-2 link-secondary">Contact</li></a></li>
    </ul>
    <div id="search" class=" col-md-3 text-end">
        <form method="post" action="/search">
            <input type="search" name="searchTerm" class="form-control" placeholder="search..." aria-label="search">
        </form>
</header>